 /* ========================================================================
  Grids (todo - cleanup)
 ========================================================================== */
.row {
    width: 100%;
    max-width: 74rem;
    margin: 0 auto;
}
.row:after {
    clear: both;
    content: " ";
    display: table;
}
.row.expand {
    max-width: 100%;
}
.row.collapse .column,
.row.collapse .columns {
    padding: 0;
}
.row.narrow .column,
.row.narrow .columns {
    padding: 0 1.25rem;
}
.column,
.columns {
    float: left;
    width: 100%;
    padding: 0 2.5rem;
    position: relative;
}
.column.end,
.columns.end {
    float: right;
}
.column .column:first-of-type,
.column .columns:first-of-type,
.columns .column:first-of-type,
.columns .columns:first-of-type {
    padding-left: 0;
}
.column .column:last-of-type,
.column .columns:last-of-type,
.columns .column:last-of-type,
.columns .columns:last-of-type {
    padding-right: 0;
}
.small-1 {
    width: 8.33333%;
}
.small-offset-1 {
    margin-left: 8.33333%;
}
.small-push-1 {
    left: 8.33333%;
}
.small-pull-1 {
    right: 8.33333%;
}
.small-2 {
    width: 16.66667%;
}
.small-offset-2 {
    margin-left: 16.66667%;
}
.small-push-2 {
    left: 16.66667%;
}
.small-pull-2 {
    right: 16.66667%;
}
.small-3 {
    width: 25%;
}
.small-offset-3 {
    margin-left: 25%;
}
.small-push-3 {
    left: 25%;
}
.small-pull-3 {
    right: 25%;
}
.small-4 {
    width: 33.33333%;
}
.small-offset-4 {
    margin-left: 33.33333%;
}
.small-push-4 {
    left: 33.33333%;
}
.small-pull-4 {
    right: 33.33333%;
}
.small-5 {
    width: 41.66667%;
}
.small-offset-5 {
    margin-left: 41.66667%;
}
.small-push-5 {
    left: 41.66667%;
}
.small-pull-5 {
    right: 41.66667%;
}
.small-6 {
    width: 50%;
}
.small-offset-6 {
    margin-left: 50%;
}
.small-push-6 {
    left: 50%;
}
.small-pull-6 {
    right: 50%;
}
.small-7 {
    width: 58.33333%;
}
.small-offset-7 {
    margin-left: 58.33333%;
}
.small-push-7 {
    left: 58.33333%;
}
.small-pull-7 {
    right: 58.33333%;
}
.small-8 {
    width: 66.66667%;
}
.small-offset-8 {
    margin-left: 66.66667%;
}
.small-push-8 {
    left: 66.66667%;
}
.small-pull-8 {
    right: 66.66667%;
}
.small-9 {
    width: 75%;
}
.small-offset-9 {
    margin-left: 75%;
}
.small-push-9 {
    left: 75%;
}
.small-pull-9 {
    right: 75%;
}
.small-10 {
    width: 83.33333%;
}
.small-offset-10 {
    margin-left: 83.33333%;
}
.small-push-10 {
    left: 83.33333%;
}
.small-pull-10 {
    right: 83.33333%;
}
.small-11 {
    width: 91.66667%;
}
.small-offset-11 {
    margin-left: 91.66667%;
}
.small-push-11 {
    left: 91.66667%;
}
.small-pull-11 {
    right: 91.66667%;
}
.small-centered {
    float: none;
    margin: 0 auto;
}
.small-uncentered {
    float: left;
    margin: 0;
}
[class*="block-grid"] {
    margin: 0 -.7rem;
    padding: 0;
}
[class*="block-grid"] > * {
    display: block;
    float: left;
    padding: 0 0.7rem;
}
.small-block-grid-1 > * {
    width: 100%;
}
.small-block-grid-1 > *:nth-of-type(1n+1) {
    clear: both;
}
.small-block-grid-2 > * {
    width: 50%;
}
.small-block-grid-2 > *:nth-of-type(2n+1) {
    clear: both;
}
.small-block-grid-3 > * {
    width: 33.33333%;
}
.small-block-grid-3 > *:nth-of-type(3n+1) {
    clear: both;
}
.small-block-grid-4 > * {
    width: 25%;
}
.small-block-grid-4 > *:nth-of-type(4n+1) {
    clear: both;
}
.small-block-grid-5 > * {
    width: 20%;
}
.small-block-grid-5 > *:nth-of-type(5n+1) {
    clear: both;
}
.small-block-grid-6 > * {
    width: 16.66667%;
}
.small-block-grid-6 > *:nth-of-type(6n+1) {
    clear: both;
}
.small-block-grid-7 > * {
    width: 14.28571%;
}
.small-block-grid-7 > *:nth-of-type(7n+1) {
    clear: both;
}
.small-block-grid-8 > * {
    width: 12.5%;
}
.small-block-grid-8 > *:nth-of-type(8n+1) {
    clear: both;
}
@media only screen and (min-width: 45rem) {
    [class*="large-"] {
        width: 100%;
    }
    .medium-1 {
        width: 8.33333%;
    }
    .medium-offset-1 {
        margin-left: 8.33333%;
    }
    .medium-push-1 {
        left: 8.33333%;
    }
    .medium-pull-1 {
        right: 8.33333%;
    }
    .medium-2 {
        width: 16.66667%;
    }
    .medium-offset-2 {
        margin-left: 16.66667%;
    }
    .medium-push-2 {
        left: 16.66667%;
    }
    .medium-pull-2 {
        right: 16.66667%;
    }
    .medium-3 {
        width: 25%;
    }
    .medium-offset-3 {
        margin-left: 25%;
    }
    .medium-push-3 {
        left: 25%;
    }
    .medium-pull-3 {
        right: 25%;
    }
    .medium-4 {
        width: 33.33333%;
    }
    .medium-offset-4 {
        margin-left: 33.33333%;
    }
    .medium-push-4 {
        left: 33.33333%;
    }
    .medium-pull-4 {
        right: 33.33333%;
    }
    .medium-5 {
        width: 41.66667%;
    }
    .medium-offset-5 {
        margin-left: 41.66667%;
    }
    .medium-push-5 {
        left: 41.66667%;
    }
    .medium-pull-5 {
        right: 41.66667%;
    }
    .medium-6 {
        width: 50%;
    }
    .medium-offset-6 {
        margin-left: 50%;
    }
    .medium-push-6 {
        left: 50%;
    }
    .medium-pull-6 {
        right: 50%;
    }
    .medium-7 {
        width: 58.33333%;
    }
    .medium-offset-7 {
        margin-left: 58.33333%;
    }
    .medium-push-7 {
        left: 58.33333%;
    }
    .medium-pull-7 {
        right: 58.33333%;
    }
    .medium-8 {
        width: 66.66667%;
    }
    .medium-offset-8 {
        margin-left: 66.66667%;
    }
    .medium-push-8 {
        left: 66.66667%;
    }
    .medium-pull-8 {
        right: 66.66667%;
    }
    .medium-9 {
        width: 75%;
    }
    .medium-offset-9 {
        margin-left: 75%;
    }
    .medium-push-9 {
        left: 75%;
    }
    .medium-pull-9 {
        right: 75%;
    }
    .medium-10 {
        width: 83.33333%;
    }
    .medium-offset-10 {
        margin-left: 83.33333%;
    }
    .medium-push-10 {
        left: 83.33333%;
    }
    .medium-pull-10 {
        right: 83.33333%;
    }
    .medium-11 {
        width: 91.66667%;
    }
    .medium-offset-11 {
        margin-left: 91.66667%;
    }
    .medium-push-11 {
        left: 91.66667%;
    }
    .medium-pull-11 {
        right: 91.66667%;
    }
    .medium-centered {
        float: none;
        margin: 0 auto;
    }
    .medium-uncentered {
        float: left;
        margin: 0;
    }
    [class*="small-block-grid"][class*="medium-block-grid"] > * {
        clear: none;
    }
    .medium-block-grid-1 > * {
        width: 100%;
    }
    .medium-block-grid-1 > *:nth-of-type(1n+1) {
        clear: both;
    }
    .medium-block-grid-2 > * {
        width: 50%;
    }
    .medium-block-grid-2 > *:nth-of-type(2n+1) {
        clear: both;
    }
    .medium-block-grid-3 > * {
        width: 33.33333%;
    }
    .medium-block-grid-3 > *:nth-of-type(3n+1) {
        clear: both;
    }
    .medium-block-grid-4 > * {
        width: 25%;
    }
    .medium-block-grid-4 > *:nth-of-type(4n+1) {
        clear: both;
    }
    .medium-block-grid-5 > * {
        width: 20%;
    }
    .medium-block-grid-5 > *:nth-of-type(5n+1) {
        clear: both;
    }
    .medium-block-grid-6 > * {
        width: 16.66667%;
    }
    .medium-block-grid-6 > *:nth-of-type(6n+1) {
        clear: both;
    }
    .medium-block-grid-7 > * {
        width: 14.28571%;
    }
    .medium-block-grid-7 > *:nth-of-type(7n+1) {
        clear: both;
    }
    .medium-block-grid-8 > * {
        width: 12.5%;
    }
    .medium-block-grid-8 > *:nth-of-type(8n+1) {
        clear: both;
    }
}
@media only screen and (min-width: 60rem) {
    .large-1 {
        width: 8.33333%;
    }
    .large-offset-1 {
        margin-left: 8.33333%;
    }
    .large-push-1 {
        left: 8.33333%;
    }
    .large-pull-1 {
        right: 8.33333%;
    }
    .large-2 {
        width: 16.66667%;
    }
    .large-offset-2 {
        margin-left: 16.66667%;
    }
    .large-push-2 {
        left: 16.66667%;
    }
    .large-pull-2 {
        right: 16.66667%;
    }
    .large-3 {
        width: 25%;
    }
    .large-offset-3 {
        margin-left: 25%;
    }
    .large-push-3 {
        left: 25%;
    }
    .large-pull-3 {
        right: 25%;
    }
    .large-4 {
        width: 33.33333%;
    }
    .large-offset-4 {
        margin-left: 33.33333%;
    }
    .large-push-4 {
        left: 33.33333%;
    }
    .large-pull-4 {
        right: 33.33333%;
    }
    .large-5 {
        width: 41.66667%;
    }
    .large-offset-5 {
        margin-left: 41.66667%;
    }
    .large-push-5 {
        left: 41.66667%;
    }
    .large-pull-5 {
        right: 41.66667%;
    }
    .large-6 {
        width: 50%;
    }
    .large-offset-6 {
        margin-left: 50%;
    }
    .large-push-6 {
        left: 50%;
    }
    .large-pull-6 {
        right: 50%;
    }
    .large-7 {
        width: 58.33333%;
    }
    .large-offset-7 {
        margin-left: 58.33333%;
    }
    .large-push-7 {
        left: 58.33333%;
    }
    .large-pull-7 {
        right: 58.33333%;
    }
    .large-8 {
        width: 66.66667%;
    }
    .large-offset-8 {
        margin-left: 66.66667%;
    }
    .large-push-8 {
        left: 66.66667%;
    }
    .large-pull-8 {
        right: 66.66667%;
    }
    .large-9 {
        width: 75%;
    }
    .large-offset-9 {
        margin-left: 75%;
    }
    .large-push-9 {
        left: 75%;
    }
    .large-pull-9 {
        right: 75%;
    }
    .large-10 {
        width: 83.33333%;
    }
    .large-offset-10 {
        margin-left: 83.33333%;
    }
    .large-push-10 {
        left: 83.33333%;
    }
    .large-pull-10 {
        right: 83.33333%;
    }
    .large-11 {
        width: 91.66667%;
    }
    .large-offset-11 {
        margin-left: 91.66667%;
    }
    .large-push-11 {
        left: 91.66667%;
    }
    .large-pull-11 {
        right: 91.66667%;
    }
    .large-centered {
        float: none;
        margin: 0 auto;
    }
    .large-uncentered {
        float: left;
        margin: 0;
    }
    [class*="small-block-grid"][class*="large-block-grid"] > * {
        clear: none;
    }
    [class*="medium-block-grid"][class*="large-block-grid"] > * {
        clear: none;
    }
    .large-block-grid-1 > * {
        width: 100%;
    }
    .large-block-grid-1 > *:nth-of-type(1n+1) {
        clear: both;
    }
    .large-block-grid-2 > * {
        width: 50%;
    }
    .large-block-grid-2 > *:nth-of-type(2n+1) {
        clear: both;
    }
    .large-block-grid-3 > * {
        width: 33.33333%;
    }
    .large-block-grid-3 > *:nth-of-type(3n+1) {
        clear: both;
    }
    .large-block-grid-4 > * {
        width: 25%;
    }
    .large-block-grid-4 > *:nth-of-type(4n+1) {
        clear: both;
    }
    .large-block-grid-5 > * {
        width: 20%;
    }
    .large-block-grid-5 > *:nth-of-type(5n+1) {
        clear: both;
    }
    .large-block-grid-6 > * {
        width: 16.66667%;
    }
    .large-block-grid-6 > *:nth-of-type(6n+1) {
        clear: both;
    }
    .large-block-grid-7 > * {
        width: 14.28571%;
    }
    .large-block-grid-7 > *:nth-of-type(7n+1) {
        clear: both;
    }
    .large-block-grid-8 > * {
        width: 12.5%;
    }
    .large-block-grid-8 > *:nth-of-type(8n+1) {
        clear: both;
    }
}

@media only screen and (min-width: 45rem) {
    .hide-for-small {
        display: inherit !important;
    }
}
@media only screen and (min-width: 45rem) {
    .hide-for-medium {
        display: none !important;
    }
}
@media only screen and (min-width: 60rem) {
    .hide-for-medium {
        display: inherit !important;
    }
}
@media only screen and (min-width: 60rem) {
    .hide-for-large {
        display: none !important;
    }
}
@media only screen and (min-width: 45rem) {
    .show-for-small {
        display: none !important;
    }
}
.show-for-medium {
    display: none !important;
}
@media only screen and (min-width: 45rem) {
    .show-for-medium {
        display: inherit !important;
    }
}
@media only screen and (min-width: 60rem) {
    .show-for-medium {
        display: none;
    }
}
.show-for-large {
    display: none;
}
@media only screen and (min-width: 60rem) {
    .show-for-large {
        display: inherit !important;
    }
}